body{
    background-color: white;
    padding: 50px 50px 50px 50px;  
}

/* Ejercicio 8 */

table.tablainf th{
    text-align: left;
    background-color: springgreen;
    width: 70%;
    height: 20px;
}

table.tablainf{
    position: relative;
}



div.barra1{
    background-color: springgreen;
    height: 4px;
    margin: auto;
    width: 100%;
    position: absolute; top: 120px;
}

div.barra2{
    background-color: springgreen;
    height: 6px;
    margin: auto;
    width: 100%;
    position: absolute; bottom: 25px;
}

table.tablainf span{
    font-weight: bold;
    font-size: 20px;
}

table.tablainf td.pie{
    font-size: 15px;
}

/* Ejercicio 9 */

div.grupo div{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    background-color: grey;
}

div.grupo div.mina:hover{
    background-color: red;
    background-image: url(img/bomb-solid.svg);
   
}

div.grupo div:hover{
background-color: green;
}

/* Ejercicio 10 */

p.text{
    width: 80%;
    background-color: beige;
    margin: auto;
    font-size: 20px;
    font-family: 'Oldenburg', cursive;
}
div.contenedor{
    background-color: beige;
    width: 50%;
    margin: auto;
}

p.text::first-letter{
    font-size: 3em;
}

p.text::first-line{
    color: brown;
     
}

/* Ejercicio 13 */

div.formul div{
    background-color: cornflowerblue;
    margin: auto;
}

div.contenedor2{
    margin: auto;
    width: 70%;
    height: 50%;
    padding-bottom: 40px;
    padding-top: 100px;
    padding-left: 40px;
    background-color: darkcyan;
    border-radius: 30px;
    position: relative;
}

div.contenedor2 div{
    color: beige;
    font-size: 20px;
    padding: 15px 15px 15px 15px;
}
div.inl{
    display: inline;
    color: beige;  
}

div.contenedor2 h1{
    color: rgb(250, 222, 185);
    font-size: 40px;
    font-family: fantasy; font-weight: lighter;
    border-bottom: 2px double; border-bottom-color: blanchedalmond; 
    position: absolute; top: 10px;
}

div.boton button{
    margin-top: 20px;
}

/* Ejercicio 12 */
