body{
    background-color: bisque;
    padding: 50px 50px 50px 50px;
    
}
/* Index */

    h1.titulo-principal {
        color: rgb(7, 7, 131);
        border: 1px rgb(27, 204, 101);  
        border-radius: 15px; 
        padding: 12px;
        background-color: white;
    }

    ul.lista-ejericios li{
color: chocolate;
font-size: 1.5em; 
    }

 div.contenedor img{
    margin: 30px;
    background-color: rgb(18, 7, 165);
    border: 1px; color: rgb(19, 21, 150);
 }

 h1.titulo{
    font-size: 30px;
    font-style: italic;
    color: rgb(31, 187, 135)
 }
 
 .texto{
     font-size: 15px;
     color: blue;
 }
 span.destacado{
     font-style: italic;
     font-weight: bold;
 }

 /* Ejercicio 4 */

 div.cuadro{
     text-align: center;
     width: 85%;
     background-color: rgb(238, 224, 144);
     border: 10px;
    border-radius:10px;
    margin: 2px;
 }
 
 div.articulo{
 display: inline-block;
 background-color: whitesmoke;
 padding: 30px;
 margin: 8px 10px;
 border: 10px; 
 border-radius: 15px;
 height: auto;
 }

 i.cor{
     width: 50%;
     color: red;
      }

 i.cor2{
     width: 50%;
 }

 /* Ejercicio 5 */

 div.franja_sup{
    background-color: blue;
    height: 40px;
    width: 100%;
    position: absolute; top: 0px;
 }

 div.franja_inf{
    background-color: red;
    height: 40px;
    width: 100%;
    position: absolute; bottom: 0px;
 }

 /* Ejercicio 5b */

  div.contenedor5b{
     text-align: center;
     background-color: rgb(209, 58, 58);
     color: beige;
     margin: 200px auto;
     height: 300px;
     line-height: 300px;
     width:50%;
     font-size: 50px;
     position: relative;
     
 }

 div.bola1{
     height: 125px;
     width: 125px; 
     border: 10px solid  rgb(209,58,58); 
     background-color:white;
     border-radius: 90px;
     position: absolute; top: -25px; left: -25px   
 }

 div.bola2{
    height: 125px;
    width: 125px; 
    border: 10px solid  rgb(209,58,58); 
    background-color:white;
    border-radius: 90px;
    position: absolute; bottom: -25px; left: -25px
}

div.bola3{
    height: 125px;
    width: 125px; 
    border: 10px solid  rgb(209,58,58); 
    background-color:white;
    border-radius: 90px;
    position: absolute; bottom: -25px; right: -25px
}

div.bola4{
    height: 125px;
    width: 125px; 
    border: 10px solid  rgb(209,58,58); 
    background-color:white;
    border-radius: 90px;
    position: absolute; top: -25px; right: -25px
}

/* Ejercicio 5c */

div.doscolores{
    width: 50%;
    background-color: aquamarine;
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    margin: auto;
    position: relative;
    z-index: -2;
    border-radius: 20px;

}

div.texto5c{
    width: 50%;
    height: 100%; 
    background-color: white;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Ejercicio 6 */

i.arriba{
    background-color: blue;
    color: white;
}

i.derecha{
    background-color: red;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

i.abajo{
    background-color: green;
    color: white;
    margin-bottom: 10px
}

i.izquierda{
    background-color: black;
    color: white;
    margin-right: 10px;
}

i.mano{
    width: 80px;
    height: 80px;
    padding: 20px 20px;
}

div.contenedora{
    text-align: center;
    margin: auto;
}