div.carousel-inner{
    height: auto;
    width: 100%;
}

body{
    background-color: rgb(221, 218, 212);
}

h1 , h2, h3{
    font-family: 'Amatic SC', cursive; 
    text-align: center
}

h1{
    font-weight: bolder;
    margin-top: 30px;
}

a.preview, a.next {
    height: 441px;
}

div.listado{
    background-color: rgb(255, 193, 59);
    width: 90%;
    margin: auto;
    border: 40px solid rgb(255, 193, 59);
    border-radius: 20px;
}

div.slide{
    position: relative;
}

ol.carousel-indicators{
    position: relative; top: 430px;
}

div.lista{
  background-color: orange;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
  border: 40px solid orange;
}

div.ejericios a{
  background-color: rgb(247, 211, 144);
}
