div.redonda{
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: red;
    margin: 5px;
    border-radius: 30px;
}

div.cuadrado{
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: red;
    margin: 5px;
}

div.separador{
    height: 4px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 3px solid black;}

i.cuervo{
        position: fixed;
        right: 10px;
        top: 10px;
}

p.primeraLetra{
    font-size: 200px;
    display: block;

}
p.frase{
    
    font-size: 30px;
}

div.contenedor{
    width: 30%;
    height: 300px;
}

div.ciudad{
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

div.ciudad p:first-child {
    font-size: 200px;
    margin: -50px 0;
}

div.ciudad p:last-child{
    font-size: 30px;
    margin: 10px 0 0 0;
}

div.gato {
    border: 1px solid blue;
    text-align: center;
    margin: 2px 2px;
    display: block;
    width: 205px;
}